mixin logoKyobo(option)
    svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 267.28 84.11", class=option)
        defs
            style.
                .cls-1 {
                    fill: #003477;
                }
        g#Layer_2(data-name="Layer 2")
            g#Layer_1(data-name="Layer 1")
                path.cls-1(
                    d="M185.66 79.29V69.17h-3.64v10.12h-2.49V69.17h-3.64v10.12h-4.92v2.85h22.5v-2.85h-7.81z"
                )
                path.cls-1(
                    d="M187.71 76.52h2.38C191 72 191.6 66.24 192 62.41c.2-2.07.21-3.14-1.65-3.14H173.4v2.85h14.31ZM210.32 79.29v-4.88h-4.06v4.88h-9.29v2.85h22.51v-2.85h-9.16zM214.06 72.88a2 2 0 0 0 2.25-2.27V59h-4.06v4.7h-8.06V59h-4.06v11.61a2 2 0 0 0 2.26 2.27Zm-9.87-2.45v-3.86h8.06v3.86ZM264.82 74.53a11.15 11.15 0 0 0-10.78 0 4.71 4.71 0 0 0 0 8.2 11.22 11.22 0 0 0 10.78 0 4.7 4.7 0 0 0 0-8.2Zm-2.52 6a5.07 5.07 0 0 1-5.74 0 2.61 2.61 0 0 1 0-3.89 5.12 5.12 0 0 1 5.74 0 2.59 2.59 0 0 1 0 3.89ZM263.22 58.14v3.08h-3.07v2.85h3.07v1.94h-3.07v2.85h3.07v3.65h4.06V58.14h-4.06zM256.59 71.27a2 2 0 0 0 2.26-2.27v-9.73h-11.09V69a2 2 0 0 0 2.24 2.27Zm-1.8-9.15v6.29h-3v-6.29ZM230.73 71.91l1.83-1.37c-3-3.42-3.87-7-3.87-11.52h-3.77c0 4.57-.87 8.1-3.88 11.52l1.83 1.37a15.28 15.28 0 0 0 3.93-5.3 15.41 15.41 0 0 0 3.93 5.3ZM239.76 74.72a11.36 11.36 0 0 0-10.78 0 4.57 4.57 0 0 0 0 8 11.44 11.44 0 0 0 10.78 0 4.58 4.58 0 0 0 0-8Zm-2.52 5.89a5.27 5.27 0 0 1-5.74 0 2.21 2.21 0 0 1-.88-1.88 2.19 2.19 0 0 1 .88-1.86 5.27 5.27 0 0 1 5.74 0 2.22 2.22 0 0 1 .88 1.86 2.24 2.24 0 0 1-.88 1.88ZM238.57 58.14v5.33h-1.51v-5.33h-3.64v14.15h3.64v-5.98h1.51v5.98h3.65V58.14h-3.65zM73.77 51.75a14 14 0 0 0-10.23 3.86c-2.81 2.77-4.36 7.15-4.36 12.3s1.55 9.52 4.36 12.3a14.05 14.05 0 0 0 10.23 3.89 14.17 14.17 0 0 0 10.28-3.89c2.76-2.78 4.31-7.15 4.31-12.3s-1.55-9.53-4.31-12.3a14.15 14.15 0 0 0-10.28-3.86Zm5.92 25.09a7.8 7.8 0 0 1-11.8 0c-1.51-1.88-2.3-5-2.3-8.93s.79-7 2.3-8.93a7.26 7.26 0 0 1 5.88-2.66A7.34 7.34 0 0 1 79.69 59c1.52 1.9 2.31 5 2.31 8.91s-.79 7.09-2.31 8.93ZM153.71 55.61a15.58 15.58 0 0 0-20.53 0c-2.79 2.77-4.33 7.15-4.33 12.3s1.54 9.52 4.33 12.3a15.49 15.49 0 0 0 20.53 0c2.78-2.78 4.31-7.16 4.31-12.3s-1.53-9.53-4.31-12.3Zm-4.36 21.23a7.81 7.81 0 0 1-11.81 0c-1.5-1.88-2.29-5-2.29-8.93s.79-7 2.29-8.93a7.89 7.89 0 0 1 11.81 0c1.52 1.93 2.29 5 2.29 8.94s-.77 7.08-2.29 8.92ZM44.76 83.36A2.92 2.92 0 0 1 44 81.2V70l10.44-17.57h-7.17c.52.52.57 1.34-.06 2.33l-5.67 9.82c-4.77-8.63-4.76-8.87-5.62-10.45-.68-1.18-1.25-1.7-2.52-1.7h-5.65a12.59 12.59 0 0 1 1.88 2.65L38 69.9v11.3a2.92 2.92 0 0 1-.78 2.16ZM98.35 83.36a2.92 2.92 0 0 0 .78-2.16V54.59a2.92 2.92 0 0 0-.78-2.16h10.24c4.92 0 9.2 2.37 9.2 7 0 2-.89 4.71-3.16 5.93a8.37 8.37 0 0 1 5.67 7.91 9.62 9.62 0 0 1-3.72 7.62 12.2 12.2 0 0 1-8 2.5Zm6.78-19.25a9.92 9.92 0 0 0 4.38-.53 3.3 3.3 0 0 0 2.1-3.2 3.71 3.71 0 0 0-4-3.5 7.82 7.82 0 0 0-2.49.32Zm6.71 14a4.88 4.88 0 0 0 2.16-4.49c0-3.39-3-5-5.85-5a22 22 0 0 0-3 .19v9.91c1.96.59 5.11.45 6.69-.57ZM.78 81.2A2.92 2.92 0 0 1 0 83.36h7.56a3 3 0 0 1-.78-2.16V69.12l8.79 12.54c.81 1.18 1.44 1.7 2.71 1.7h6.07a14 14 0 0 1-2.18-2.64l-9.92-14 10.14-14.29h-7.46c.39.51.44 1.14-.29 2.36L6.78 66.12V54.59a3 3 0 0 1 .78-2.16H0a2.92 2.92 0 0 1 .78 2.16Z"
                )
                path(
                    d="M167.73 10.07c-2.82-2.86-7.49-2.36-10.24.55-3.58 3.76-6.36 5.16-9.68 5-4.63-.2-6.91-3.78-9.29-8.29-2.47-4.73-6.27-7.35-11-7.35-7.44 0-11.9 6-11.9 12.75 0 10.34 7.26 16.53 12.3 19.14a30.1 30.1 0 0 0 13 3.18 39.6 39.6 0 0 1-1.78 8h8.52a37.76 37.76 0 0 1-1.81-8.32c12.47-1.62 18.4-7.28 21.64-12.68a13.61 13.61 0 0 0 2.23-7 6.91 6.91 0 0 0-1.99-4.98Zm-40.15 6.47a4.36 4.36 0 1 1 4.06-4.62 4.35 4.35 0 0 1-4.06 4.62Z",
                    style="fill: #45b035"
                )
